.grid-container {
    display: grid;
    grid-template-columns:  auto auto auto auto auto auto  auto auto auto auto auto auto;
    gap: 10px;
    padding: 10px;
  }
  .grid-container0 > div {
    background-color:rgba(212, 177, 18, 0.8);
    text-align: center;
    padding: 12px 0;
    font-size: 30px;
  }
  
  .grid-container > div {
    background-color:rgba(212, 177, 18, 0.8);
    text-align: center;
    padding: 12px 0;
    font-size: 30px;
  }
  .grid-container1 {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 10px;
    padding: 10px;
  }
  
  .grid-container1 > div {
    background-color: rgba(212, 177, 18, 0.8);
    text-align: center;
    padding: 12px 0;
    font-size: 30px;
  }
  .grid-container4 {
    display: grid;
    grid-template-columns:  auto auto auto auto;
    gap: 10px;
    padding: 10px;
  }
  
  .grid-container4 > div {
    background-color:rgba(212, 177, 18, 0.8);
    text-align: center;
    padding: 12px 0;
    font-size: 30px;
  }
  .grid-container3 {
    display: grid;
    grid-template-columns:  auto auto auto ;
    gap: 10px;
    padding: 10px;
  }
  
  .grid-container3 > div {
    background-color:rgba(212, 177, 18, 0.8);
    text-align: center;
    padding: 12px 0;
    font-size: 30px;
  }
  .grid-container2 {
    display: grid;
    grid-template-columns:  auto auto  ;
    gap: 10px;
    padding: 10px;
  }
  
  .grid-container2 > div {
    background-color:rgba(212, 177, 18, 0.8);
    text-align: center;
    padding: 12px 0;
    font-size: 30px;
  }
  .grid-container0 {
    display: grid;
    grid-template-columns:  auto;
    gap: 10px;
    padding: 10px;
  }
  
  
